.cart {
    border: 1px solid #ddd;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    border-radius: 12px;
    margin-bottom: -7%;
}
.cart img {
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-left: -57px;
}
.text p{}