.load-data-wrapper {
  position: relative;
}
.load-data-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}
.left {
}
.left-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 11px 0px;
}
.left-data-load {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  height: 83vh;
  overflow: scroll;
}
.right {
  background: #ddd;
  padding: 11px 13px;
}
.popup-message {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  display: none;
}
.message-text {
  height: 50vh;
  width: 50%;
  background: #607d8b;
  text-align: center;
  margin: auto;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
}
