.display-data {
  border: 1px solid #ddd;
  padding: 12px 5px;
  border-radius: 12px;
}
.display-data img {
  width: 200px;
}
.display-data p {
}
button {
  width: 69%;
  padding: 10px;
  border: none;
  background: green;
  color: #fff;
  border-radius: 23px;
  margin-top: 4%;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  cursor: pointer;
}
button:hover{
  background: rgb(14, 58, 14);
}
