.product {
}
.product-child {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
}
.left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  text-align: center;
  padding: 5px 2px;
  height: 87vh;
  overflow: scroll;
}
.right {
  overflow: scroll;
  height: 87vh;
}
.right-child {
  height: 10vh;
  display: flex;
  align-items: center;
}
.order-summary {
  float: left;
  margin-right: 41px;
}
button.delete-btn {
  width: 34%;
  background-color: rgb(210, 42, 16);
  float: left;
}
button.offer-btn {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 100%;
}
.offer-btn-disebled{
  background-color: #ddd;
  width: 100%;
}
.offer-btn-disebled:hover{
  background-color: #ddd;
}
